In [21]:
import pandas as pd
import os
import matplotlib as plt

In [22]:
files = os.listdir('./')
csv_files = [f for f in files if "0.csv" in f]
csv_files

['signals.2018-08-22-184235.0.csv', 'signals.2018-08-22-191503.0.csv']

In [23]:
frame = pd.DataFrame()
list_ = []
for file_ in csv_files:
    df = pd.read_csv(file_,index_col=None, header=None)
    list_.append(df)
frame = pd.concat(list_)
frame.columns = ["ticker","price","change","time","meta_signal","meta_previous",
                "4h","1d","1w","1m",
                "4hp","1dp","1wp","1mp",
                "4h_rsi","4h_stochrsi","4h_stoch","4h_ult","4h_macd","4h_hull",
                "1d_rsi","1d_stochrsi","1d_stoch","1d_ult","1d_macd","1d_hull",
                "1w_rsi","1w_stochrsi","1w_stoch","1w_ult","1w_macd","1w_hull",
                "1m_rsi","1m_stochrsi","1m_stoch","1m_ult","1m_macd","1m_hull"
                ]
frame.sort_values(['ticker', 'time'], inplace=True)
frame.head(5)

,ticker,price,change,time,meta_signal,meta_previous,4h,1d,1w,1m,...,1w_stoch,1w_ult,1w_macd,1w_hull,1m_rsi,1m_stochrsi,1m_stoch,1m_ult,1m_macd,1m_hull
0,NASDAQ-INTC,47.05,0.0,1534983717387,0,0,-1,-1,-1,1,...,-1,58.8900,35.03,61.780,53.4300,1.0,-1,1,1,-1.0
2,NASDAQ-IPIC,7.25,0.0,1534983761590,0,0,1,1,-1,0,...,-1,NaN,NaN,NaN,NaN,NaN,-1,-1,1,NaN
3,NASDAQ-IRBT,105.81,0.0,1534984121670,1,2,1,1,1,1,...,1,65.9000,34.10,57.720,53.3000,1.0,-1,1,1,1.0
4,NASDAQ-JAGX,0.86,0.0,1534984142032,-1,-1,-2,-1,-1,-1,...,-1,22.7656,NaN,0.531,18.4556,1.0,-1,1,-1,-1.0
7,NASDAQ-KALA,13.48,0.0,1534984982039,0,-1,1,1,-1,-2,...,1,NaN,NaN,NaN,NaN,NaN,-1,1,1,1.0

In [24]:
frame.shape

(30, 38)

In [25]:
# split ticker into market-name
frame['market'], frame['name'] = frame.ticker.str.split('-', 1).str
frame.head(2)

,ticker,price,change,time,meta_signal,meta_previous,4h,1d,1w,1m,...,1w_macd,1w_hull,1m_rsi,1m_stochrsi,1m_stoch,1m_ult,1m_macd,1m_hull,market,name
0,NASDAQ-INTC,47.05,0.0,1534983717387,0,0,-1,-1,-1,1,...,35.03,61.78,53.43,1.0,-1,1,1,-1.0,NASDAQ,INTC
2,NASDAQ-IPIC,7.25,0.0,1534983761590,0,0,1,1,-1,0,...,NaN,NaN,NaN,NaN,-1,-1,1,NaN,NASDAQ,IPIC

In [26]:
frame.sort_values(['name', 'time'], inplace=True)
frame.head(10)

,ticker,price,change,time,meta_signal,meta_previous,4h,1d,1w,1m,...,1w_macd,1w_hull,1m_rsi,1m_stochrsi,1m_stoch,1m_ult,1m_macd,1m_hull,market,name
0,NASDAQ-INTC,47.05,0.0,1534983717387,0,0,-1,-1,-1,1,...,35.03,61.780,53.4300,1.0,-1,1,1,-1.0,NASDAQ,INTC
1,NYSE-IPI,3.38,0.0,1534983740435,-1,0,-1,-1,-1,-1,...,65.71,57.660,44.9300,1.0,1,1,1,-1.0,NYSE,IPI
2,NASDAQ-IPIC,7.25,0.0,1534983761590,0,0,1,1,-1,0,...,NaN,NaN,NaN,NaN,-1,-1,1,NaN,NASDAQ,IPIC
3,NASDAQ-IRBT,105.81,0.0,1534984121670,1,2,1,1,1,1,...,34.10,57.720,53.3000,1.0,-1,1,1,1.0,NASDAQ,IRBT
4,NASDAQ-JAGX,0.86,0.0,1534984142032,-1,-1,-2,-1,-1,-1,...,NaN,0.531,18.4556,1.0,-1,1,-1,-1.0,NASDAQ,JAGX
5,NYSE-JNJ,134.61,0.0,1534984939022,1,1,1,1,1,1,...,35.82,36.600,45.6500,-1.0,-1,-1,-1,1.0,NYSE,JNJ
6,NYSE-JPM,114.97,0.0,1534984961768,1,0,1,1,1,1,...,30.84,78.100,51.9000,1.0,-1,-1,-1,1.0,NYSE,JPM
7,NASDAQ-KALA,13.48,0.0,1534984982039,0,-1,1,1,-1,-2,...,NaN,NaN,NaN,NaN,-1,1,1,1.0,NASDAQ,KALA
8,NASDAQ-LRCX,173.08,0.0,1534985149926,0,-1,-1,-1,-1,1,...,5.47,41.420,47.9600,-1.0,-1,1,-1,-1.0,NASDAQ,LRCX
9,NYSE-LSI,97.90,0.0,1534985170591,1,1,-1,1,2,1,...,97.86,88.280,59.2100,1.0,-1,-1,-1,-1.0,NYSE,LSI

In [27]:
# failures to get price (numeric conversion)
frame[frame.price.isnull()]

Empty DataFrame
Columns: [ticker, price, change, time, meta_signal, meta_previous, 4h, 1d, 1w, 1m, 4hp, 1dp, 1wp, 1mp, 4h_rsi, 4h_stochrsi, 4h_stoch, 4h_ult, 4h_macd, 4h_hull, 1d_rsi, 1d_stochrsi, 1d_stoch, 1d_ult, 1d_macd, 1d_hull, 1w_rsi, 1w_stochrsi, 1w_stoch, 1w_ult, 1w_macd, 1w_hull, 1m_rsi, 1m_stochrsi, 1m_stoch, 1m_ult, 1m_macd, 1m_hull, market, name]
Index: []

[0 rows x 40 columns]

In [28]:
frame = frame.dropna()
frame.shape

(25, 40)

In [29]:
# more failures to get price
frame[frame.price == 0]

Empty DataFrame
Columns: [ticker, price, change, time, meta_signal, meta_previous, 4h, 1d, 1w, 1m, 4hp, 1dp, 1wp, 1mp, 4h_rsi, 4h_stochrsi, 4h_stoch, 4h_ult, 4h_macd, 4h_hull, 1d_rsi, 1d_stochrsi, 1d_stoch, 1d_ult, 1d_macd, 1d_hull, 1w_rsi, 1w_stochrsi, 1w_stoch, 1w_ult, 1w_macd, 1w_hull, 1m_rsi, 1m_stochrsi, 1m_stoch, 1m_ult, 1m_macd, 1m_hull, market, name]
Index: []

[0 rows x 40 columns]

In [30]:
frame = frame[frame.price!=0]
frame.shape

(25, 40)

In [31]:
abbv = frame[frame.ticker.astype(str).str.match("NYSE-ABBV")]
abbv

Empty DataFrame
Columns: [ticker, price, change, time, meta_signal, meta_previous, 4h, 1d, 1w, 1m, 4hp, 1dp, 1wp, 1mp, 4h_rsi, 4h_stochrsi, 4h_stoch, 4h_ult, 4h_macd, 4h_hull, 1d_rsi, 1d_stochrsi, 1d_stoch, 1d_ult, 1d_macd, 1d_hull, 1w_rsi, 1w_stochrsi, 1w_stoch, 1w_ult, 1w_macd, 1w_hull, 1m_rsi, 1m_stochrsi, 1m_stoch, 1m_ult, 1m_macd, 1m_hull, market, name]
Index: []

[0 rows x 40 columns]

In [32]:
# remove duplicates
df = frame.drop_duplicates(["ticker", "price", 
                "meta_signal", "meta_previous",
                "4h","1d","1w","1m",
                "4hp","1dp","1wp","1mp"])
df[df.ticker.astype(str).str.match("NYSE-ABBV")]

Empty DataFrame
Columns: [ticker, price, change, time, meta_signal, meta_previous, 4h, 1d, 1w, 1m, 4hp, 1dp, 1wp, 1mp, 4h_rsi, 4h_stochrsi, 4h_stoch, 4h_ult, 4h_macd, 4h_hull, 1d_rsi, 1d_stochrsi, 1d_stoch, 1d_ult, 1d_macd, 1d_hull, 1w_rsi, 1w_stochrsi, 1w_stoch, 1w_ult, 1w_macd, 1w_hull, 1m_rsi, 1m_stochrsi, 1m_stoch, 1m_ult, 1m_macd, 1m_hull, market, name]
Index: []

[0 rows x 40 columns]

In [33]:
# test that we have expected number of unique tickers (at least one entry for each)
# currently, we have 159 tickers
print("unique tickers: {} ".format(df.ticker.nunique()))

unique tickers: 25

In [34]:
# add meta movement indicator
df['meta_move'] = df['meta_signal'].values - df['meta_previous'].values
df.head(3)

,ticker,price,change,time,meta_signal,meta_previous,4h,1d,1w,1m,...,1w_hull,1m_rsi,1m_stochrsi,1m_stoch,1m_ult,1m_macd,1m_hull,market,name,meta_move
0,NASDAQ-INTC,47.05,0.0,1534983717387,0,0,-1,-1,-1,1,...,61.78,53.43,1.0,-1,1,1,-1.0,NASDAQ,INTC,0
1,NYSE-IPI,3.38,0.0,1534983740435,-1,0,-1,-1,-1,-1,...,57.66,44.93,1.0,1,1,1,-1.0,NYSE,IPI,-1
3,NASDAQ-IRBT,105.81,0.0,1534984121670,1,2,1,1,1,1,...,57.72,53.30,1.0,-1,1,1,1.0,NASDAQ,IRBT,-1

In [35]:
# round to 3 decimals (python tweaks the numbers)
df.price = df.price.round(3)
df[df.name=='HMNY']

Empty DataFrame
Columns: [ticker, price, change, time, meta_signal, meta_previous, 4h, 1d, 1w, 1m, 4hp, 1dp, 1wp, 1mp, 4h_rsi, 4h_stochrsi, 4h_stoch, 4h_ult, 4h_macd, 4h_hull, 1d_rsi, 1d_stochrsi, 1d_stoch, 1d_ult, 1d_macd, 1d_hull, 1w_rsi, 1w_stochrsi, 1w_stoch, 1w_ult, 1w_macd, 1w_hull, 1m_rsi, 1m_stochrsi, 1m_stoch, 1m_ult, 1m_macd, 1m_hull, market, name, meta_move]
Index: []

[0 rows x 41 columns]

In [36]:
# export new, cleaned db file
df.to_csv('./signals.csv', header=None, index=None)